/* Overrides */
html {
  height:100%;
}

html,
body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $open_sans;
  font-weight: 300;
  font-style: normal;
  background-color: $body_bg;
  //background-image: url(../images/canvas_small.png);
  //background-image: url(../images/canvas.png);
  background-repeat: no-repeat;
  background-position: right 10px bottom 80px;
  background-attachment: fixed;
  //background-size: cover;
  font-size: $font_size;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: $breakpoint_1col) {
  body {
    background-position: center bottom 50px;
  }
}

body.cke_editable {
  background-color: #fff;
}

a {
  color: $link_color;
  text-decoration: none;
  @include transition(all 500ms ease);
}

a:hover,
a:focus {
  @include opacity(1);
  color: $link_color;
  text-decoration: none;
}

#back-top span#button,
#back-top-prev span#button-prev {
  border-radius: 50%;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: initial;
  list-style-position: inside;
}

li.expanded,
li.collapsed,
li.leaf,
.item-list ul,
ul.menu li {
  margin: 0;
  padding: 0;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: initial;
  list-style-position: inside;
}

.nav > li > a {
  position: relative;
  display: list-item;
  padding: 0;
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.nav-tabs {
  margin-bottom: 20px;
  > li {
    list-style-type: none;
    a {
      padding: 6px 16px;
    }
  }
  li.active {
    a,
    a:hover,
    a:focus {
      background-color: #fff;
    }
  }
}

table {
  width: 100%;
  tr {
    border-bottom: 1px solid #ddd;
  }
  td,
  th {
    padding: 4px;
  }
  th {
    font-weight: bold;
  }
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
  padding: 4px;
}

.table > thead > tr > th {
  font-weight: 600;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

// Buttons
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button-style;
}

// Page layout
.page {
  margin-bottom: $bottom_height;
  margin-top: $bottom_height;
  padding: 0 10px;
}

.admin-menu .page {
  margin-top: $bottom_height + 40px;
}

.node-type-story,
.page-node-add-story,
.page-node-edit,
.page-stories {
  .page {
    margin-top: 0;
    padding: 0;
  }
}

/* Images */

img {
  @include responsive-img;
}

/* Forms */
*:focus {
  outline: none;
  @include box-shadow(none);
}

.description {
  font-size: 0.8em;
  margin: 4px 0;
  clear: both;
  line-height: 130%;
  border-left: 3px solid #ddd;
  padding-left: 6px;
}

fieldset {
  border: 0;
  margin: 10px 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Messages */
div.messages {
  position: relative;
  max-width: 400px;
  margin: 10% auto;
  border-radius: 3px;
  border: 1px solid $logo_blue;
  background: #fff;
  padding: 10px;
  line-height: 150%;
  font-size: 1.2em;
}

.form-item {
  div.messages {
    max-width: initial;
    margin: initial;
    border-radius: 0;
    border: 0;
    background: none;
    padding: initial;
  }
}

.drupal-messages {
  //cursor: pointer;
}

.js-active-message {
  .drupal-messages {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black-opacity(0.5);
    top: 0;
    left: 0;
    z-index: 300;
    display: block !important;
  }
}

.js-icon-close-messages {
  @extend .js-icon-close-search;
}

/* Maintenance page */
.page-404,
.maintenance-page {
  background: #fff;
  text-align: center;
  h2 {
    font-family: $cousine;
    font-style: normal;
    font-weight: 400;
  }
  a[rel="home"] img {
    @extend %heartbeat;
  }
}

.go-home {
  @include button-style;
  margin: 0 auto;
}

/* Flexslider */

.flexslider {
  margin: 0;
  background: transparent;
  border: none;
  position: relative;
  zoom: 1;
  @include border-radius(0);
  border-radius: 4px;
  @include box-shadow(0);

  ul.flex-direction-nav a {
    height: 52px;
    //top: 30%;
    background-color: #fff;
    padding: 6px;
  }
}

.flex-caption {
  position: absolute;
  z-index: 100;
  top: 10%;
  right: 4%;
  background-color: rgba(255, 255, 255, 0.27);
  padding: 1em;
  font-size: 2em;
  border: 1px solid rgba(206, 49, 39, 0.06);
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 6px #000;
  width: 30%;
  text-align: right;
}

/* Labels */

form labelNOT {
  display: block;
  font-weight: 300;
  background: black-opacity(0.2);
  padding: 6px;
  text-transform: uppercase;
  max-width: 300px;
}

.marker,
.form-required {
  color: inherit;
}

/* Views */

.item-list {
  ul li {
    margin: 0 0.25em;
    padding: 0;
  }
  .pager {
    padding: 20px;
    background: black-opacity(0.2);
    a {
      color: #fff;
    }
  }
}

%item-list {
  position: fixed;
  left: 0;
  bottom: 50px;
  background-color: #000;
  padding: 10px;
  right: 0;
  width: 300px;
  margin: 0 auto;
  ul li {
    margin: 0 10px 0 0;
    padding: 0;
    color: #fff;
  }
  a {
    color: #fff;
  }
}

/* Loading effects */
.page-loader {
  position: fixed;
  //background: url(../images/logo_animated.gif) no-repeat center 30% #fff;
  background: url(../images/logo_animated_fast.gif) no-repeat center 30% #fff;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 300;
}


// EU cookies
#sliding-popup.sliding-popup-bottom {
  background: #FFF;
  border-top: 1px solid #ddd;
  padding: 20px;
}

#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text p {
  color: $logo_blue !important;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
}

#sliding-popup .popup-content #popup-buttons {
  button {
    @include button-style;
    text-shadow: none;
    border-radius: 0;
    margin-top: 1em;
    &.find-more-button {
      background: none;
      color: #000;
      text-transform: initial;
      font-weight: normal;
    }
  }
}

