* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  word-wrap: break-word;
}

img{
  max-width:100%;
  height:auto;
}

/* -- clearfixing header, footer & .l-container -- */
header[role="banner"]:before,header[role="banner"]:after,
main:before,main:after,
footer[role="contentinfo"]:before,footer[role="contentinfo"]:after,
.cf:before,.cf:after {
  content:""; display:table;
}

header[role="banner"]:after,main:after,
footer[role="contentinfo"]:after,
.cf:after {
  clear:both;
}

header[role="banner"],main,footer[role="contentinfo"],.cf {
  zoom:1;
}

/* colors */
body{ background-color: #fcfcfc; margin:20px 0 }
header[role="banner"]{ border-bottom: 1px solid #eee; }
main{ background-color: #fff;  border-left: 1px solid #eee;  border-right: 1px solid #eee; border-bottom:1px solid #eee;}
body.sidebar-first .l-content { border-left: 1px solid #eee; }
body.sidebar-second .l-content{ border-right:1px solid #eee; }
body.two-sidebars .l-content  { border-left: 1px solid #eee; border-right: 1px solid #eee; }

/* page Layout */
.l-container{ width: 95%;  margin: 0 auto; }
.l-content,.l-sidebar-first, .l-sidebar-second {float:left; padding:0 1%; position:relative;}
header[role="banner"]{}
  .header-region > nav{ width:100% }
  .header-region > div{ width:100% }

.siteinfo{ }
  .siteinfo figure { display:block; }
  .siteinfo h1 { font-size:2em; line-height:1em }
  .siteinfo h2 { font-size:1em}

header[role="banner"] {margin-top: 10px; }
header[role="banner"] nav ul{padding:0}
header[role="banner"] nav li{ display: inline-block;}
.header-region nav, .header-region div{float:left}
footer[role="contentinfo"]{ text-align:center;}

@media only screen and (min-width: 600px) {
  .siteinfo{width:50%; float:left}
  .header-region{width:50%; float:left}
}

@media only screen and (min-width: 768px) {
  .siteinfo{width:40%; float:left}
  .header-region{width:60%; float:left}
}

@media only screen and (min-width: 7680px) {
  .siteinfo{width:auto}
  .header-region{width:auto}
 
  body.sidebar-first .l-content  { width: 80%; left: 20%}
  body.sidebar-first .l-sidebar-first { width: 20%; left: -80%}
  body.sidebar-second .l-content { width: 80%; }
  body.sidebar-second .l-sidebar-second { width: 20%;}
  body.two-sidebars .l-content   { width: 60%; left: 20%}
  body.two-sidebars .l-sidebar-first  { width: 20%; left: -60%}
  body.two-sidebars .l-sidebar-second { width: 20%;}
}

